{% extends 'base.html' %}

{% load static %}

{% block page_scripts %}
    <script>
        $(document).ready(function(){
            var webSocket = new WebSocket('ws://' + window.location.host + '/chat/');

            webSocket.onmessage = function(message) {
                var data = JSON.parse(message.data);
                var chat = $('#messages');

                chat.append('<p><strong>'+ data.sender + '</strong>: ' + data.text + '</p>');
                chat.scrollTop(chat[0].scrollHeight);
            };

            $('#msg-form').submit(function(event) {
                var msg = JSON.stringify({
                    text: $('#msg').val()
                });
                webSocket.send(msg);

                this.reset();
                event.preventDefault();
            })
        })
    </script>
{% endblock page_scripts %}

{% block page_styles %}
    <link href="{% static 'game/css/base.css' %}" media="screen, projection" rel="stylesheet">
{% endblock page_styles%}

{% block content %}
    {# games panel #}
    <div id="games-area" class="container">
        <div class="left-panel">
            <div class="captioned">
                <p class="caption"> Game lobbies </p>
                <div class="captioned-data" id="games-list"></div>
            </div>
        </div>
        <div class="right-panel">
            <div class="captioned">
                <p class="caption"> In game: 0 </p>
                <div id="games-members" class="captioned-data"></div>
            </div>
        </div>
    </div>

    {# chat panel #}
    <div id="chat-area" class="container">
        <div class="left-panel">
            <div id="messages"></div>
        </div>
        <div class="right-panel">
            <div class="captioned">
                <p class="caption"> In chat: 0 </p>
                <div id="chat-members" class="captioned-data"></div>
            </div>
        </div>
    </div>

    {# send message panel #}
    <div id="msg-area" class="container">
        <form id="msg-form">
            <div class="left-panel">
                <input type="text" id="msg" maxlength="300">
            </div>
            <div class="right-panel">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>
{% endblock content %}