{% extends 'base.html' %}

{% load static %}

{% block page_scripts %}
    <script>
        $(document).ready(function(){
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var webSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/chat/');

            var chat_message = function(data) {
                var time = new Date(data['timestamp']);
                time = '[' + time.getHours() + ':' + time.getMinutes() + ']';

                var meta = time + ' ' + data['sender'];
                if (data['highlight'])
                    meta += ' >>' + data['highlight'];
                meta += ': ';

                meta = $('<span />').text(meta);

                var msg = $('<p />');
                if (data['sender'] === 'System') {
                    msg.addClass('message-system');
                } else {
                    meta.addClass('message-meta');
                }

                msg.append(meta)
                   .append(document.createTextNode(data.text));

                var chat = $('#messages');
                chat.append(msg);
                chat.scrollTop(chat[0].scrollHeight);
            };

            var chat_members = function(data) {
                var mem_list = $('#chat-members');
                mem_list.empty();

                var members = data['chat_members'];
                $('#chat-members-num').text(members.length.toString());

                var member;
                for (var i=0; i < members.length; ++i) {
                    member = $('<p />').text(members[i]);
                    mem_list.append(member);
                }
            };

            webSocket.onmessage = function(message) {
                var data = JSON.parse(message.data);

                // this is chat message
                if (data['text']) {
                    chat_message(data);
                } else if (data['chat_members']) {
                    chat_members(data);
                }
            };

            $('#msg-form').submit(function(event) {
                var msg = JSON.stringify({
                    text: $('#msg').val()
                });
                webSocket.send(msg);

                this.reset();
                event.preventDefault();
            });
        })
    </script>
{% endblock page_scripts %}

{% block page_styles %}
    <link href="{% static 'game/css/base.css' %}" media="screen, projection" rel="stylesheet">
{% endblock page_styles%}

{% block content %}
    {# games panel #}
    <div id="games-area" class="container">
        <div class="left-panel">
            <div class="flex-vertical">
                <p class="caption"> Game lobbies </p>
                <div class="flex flex-horizontal">
                    <div id="game-buttons">
                         <img src="{% static 'img/computers.png' %}">
                         <button type="button"> New game </button>
                         <button type="button"> Join </button>
                         <button type="button"> Leave </button>
                    </div>
                    <div id="games-list" class="flex"></div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="flex-vertical">
                <p class="caption"> In game:
                    <span id="in-game-num"></span>
                </p>
                <div id="games-members" class="flex"></div>
            </div>
        </div>
    </div>

    {# chat panel #}
    <div id="chat-area" class="container">
        <div class="left-panel">
            <div id="messages"></div>
        </div>
        <div class="right-panel">
            <div class="flex-vertical">
                <p class="caption"> In chat:
                    <span id="chat-members-num"></span>
                </p>
                <div id="chat-members" class="flex"></div>
            </div>
        </div>
    </div>

    {# send message panel #}
    <div id="msg-area" class="container">
        <form id="msg-form">
            <div class="left-panel">
                <input type="text" id="msg" maxlength="300">
            </div>
            <div class="right-panel">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>
{% endblock content %}