html, body {
    height: 97%;
    margin: 2px 0 0 0;
    background: #466579;
}

* {
    box-sizing: border-box;
}

#games-area {
    height: 175px;
    margin-bottom: 2px;
}

#game-buttons {
    display: inline-block;
}
#game-buttons button {
    display: block;
}

#games-area div {
    height: 100%;
}

#games-list, #games-members, #chat-members {
    background: #C2C9CF;
    overflow-y: scroll;
}

#games-list, #games-members, #messages, #chat-members {
    border: #495677 solid 7px;
}

#chat-area {
    height: calc(100% - (175px + 21px));
}

#chat-area div {
    height: 100%;
}

#messages {
    background: #ECE9DC;
    overflow-y: scroll;
    padding-left: 10px;
}

#messages * {
    word-wrap: break-word;
}

#msg-area div {
    padding: 7px;
}

#msg-area * {
    height: 40px;
}

#msg {
    width: 100%;
}

.container-main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    width: 100%;
}

.left-panel {
    display: inline-block;
    width: calc(100% - 247px);
}

.right-panel {
    float: right;
    width: 245px;
}

.captioned {
    display: flex;
    flex-flow: column;
}

.caption {
    color: yellow;
    font: 22px italic Verdana, sans-serif;
    text-align: center;
    margin: 0;
}

.captioned-data {
    flex: 1;
}